@import url(https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css);

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(/portfolio/#/img/background.d07a1fb7.webp); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding-top: 60px; 
  height: 100%;
}
.custom-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}
h2, h3 {
  color: #333;
}
p, ul, li {
  color: #555;
}
nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
nav ul li button a {
  text-decoration: none;
}
nav ul li button {
  background-color: rgba(215, 213, 213, 0.95);
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
nav ul li button:hover {
  background-color: rgba(226, 226, 226, 0.95);
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 10px 20px;
}


.section-card[data-v-bc7787f2] {
  background-color: #f8f8f8;
  padding: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card-container[data-v-bc7787f2] {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.section-card.profile[data-v-bc7787f2],
.section-card.certifications[data-v-bc7787f2],
.section-card.cv[data-v-bc7787f2],
.section-card.contact-info[data-v-bc7787f2] {
  flex: 1 1 calc(50% - 2rem);
}
.skills[data-v-bc7787f2], .education[data-v-bc7787f2], .experience[data-v-bc7787f2], .projects[data-v-bc7787f2], .certifications[data-v-bc7787f2], .cv[data-v-bc7787f2], .contact-info[data-v-bc7787f2] {
  margin-bottom: 20px;
}
.skills ul[data-v-bc7787f2] {
  list-style-type: none;
  padding: 0;
}
.skills li[data-v-bc7787f2] {
  margin: 5px 0;
  padding: 5px;
  background-color: #f0f0f0;
  border-radius: 5px;
}
.skills li strong[data-v-bc7787f2] {
  color: #007bff;
}
h2[data-v-bc7787f2] {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
}
h2[data-v-bc7787f2]::before,
h2[data-v-bc7787f2]::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid #333;
  margin: 0 1rem;
}
h2[data-v-bc7787f2], h3[data-v-bc7787f2] {
  color: #333;
}
h1[data-v-bc7787f2] {
  font-size: 2.5em;
  color: #2c3e50;
}
p[data-v-bc7787f2], ul[data-v-bc7787f2], li[data-v-bc7787f2] {
  color: #555;
}
.certification-card[data-v-bc7787f2] {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.certification-logo[data-v-bc7787f2] {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
.certification-details h4[data-v-bc7787f2] {
  margin: 0 0 5px 0;
}
.certification-details p[data-v-bc7787f2] {
  margin: 2px 0;
}
.certification-details a[data-v-bc7787f2] {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}
.certification-details a[data-v-bc7787f2]:hover {
  background-color: #0056b3;
}
.contact-info p[data-v-bc7787f2] {
  margin: 10px 0;
}
.contact-info a[data-v-bc7787f2] {
  color: #007bff;
  text-decoration: none;
}
.contact-info a[data-v-bc7787f2]:hover {
  text-decoration: underline;
}
.contact-info[data-v-bc7787f2] {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.cv a[data-v-bc7787f2] {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}
.cv a[data-v-bc7787f2]:hover {
  background-color: #0056b3;
}
button[data-v-bc7787f2] {
  padding: 8px 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button[data-v-bc7787f2]:hover {
  background-color: #0056b3;
}


.section-card[data-v-383fc180] {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;
}
.contact-card[data-v-383fc180] {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.contact-info p[data-v-383fc180] {
  margin: 10px 0;
}
.contact-info a[data-v-383fc180] {
  color: #007bff;
  text-decoration: none;
}
.contact-info a[data-v-383fc180]:hover {
  text-decoration: underline;
}
h2[data-v-383fc180], h3[data-v-383fc180] {
  color: #333;
  text-align: center;
}
p[data-v-383fc180] {
  color: #555;
  text-align: left;
}
h3[data-v-383fc180] {
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     margin-bottom: 1rem;
}
h3[data-v-383fc180]::before,
   h3[data-v-383fc180]::after {
     content: '';
     flex: 1;
     border-bottom: 2px solid #333;
     margin: 0 1rem;
}
form[data-v-383fc180] {
  display: flex;
  flex-direction: column;
}
input[data-v-383fc180], textarea[data-v-383fc180], button[data-v-383fc180] {
  margin-bottom: 10px;
}
textarea[data-v-383fc180] {
  resize: vertical;
  min-height: 100px;
}


.content-section[data-v-e6d8eb7c] {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;
}
.projects-list[data-v-e6d8eb7c] {
  margin-top: 20px;
}
.project-item[data-v-e6d8eb7c] {
  margin-bottom: 20px;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h2[data-v-e6d8eb7c], h3[data-v-e6d8eb7c], h4[data-v-e6d8eb7c] {
  color: #333;
  text-align: center;
}
h2[data-v-e6d8eb7c] {
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     margin-bottom: 1rem;
}
h2[data-v-e6d8eb7c]::before,
   h2[data-v-e6d8eb7c]::after {
     content: '';
     flex: 1;
     border-bottom: 2px solid #333;
     margin: 0 1rem;
}
p[data-v-e6d8eb7c], li[data-v-e6d8eb7c] {
  color: #555;
  text-align: left;
}
hr[data-v-e6d8eb7c] {
  border: none;
  border-top: 2px solid #ddd;
  margin: 20px 0;
}


.section-card[data-v-4c0f7740] {
  background-color: #f8f8f8;
  padding: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card-container[data-v-4c0f7740] {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.section-card.skills[data-v-4c0f7740],
.section-card.education[data-v-4c0f7740],
.section-card.experience[data-v-4c0f7740],
.section-card.projects[data-v-4c0f7740] {
  flex: 1 1 calc(50% - 2rem);
}
.skills[data-v-4c0f7740], .education[data-v-4c0f7740], .experience[data-v-4c0f7740], .projects[data-v-4c0f7740] {
  margin-bottom: 20px;
}
.skills ul[data-v-4c0f7740] {
  list-style-type: none;
  padding: 0;
}
.skills li[data-v-4c0f7740] {
  margin: 5px 0;
  padding: 5px;
  background-color: #f0f0f0;
  border-radius: 5px;
}
.skills li strong[data-v-4c0f7740] {
  color: #007bff;
}
h2[data-v-4c0f7740] {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
}
h2[data-v-4c0f7740]::before,
h2[data-v-4c0f7740]::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid #333;
  margin: 0 1rem;
}
h2[data-v-4c0f7740], h3[data-v-4c0f7740] {
  color: #333;
}
h1[data-v-4c0f7740] {
  font-size: 2.5em;
  color: #2c3e50;
}
p[data-v-4c0f7740], ul[data-v-4c0f7740], li[data-v-4c0f7740] {
  color: #555;
}
.section-card.cv p[data-v-4c0f7740] {
    margin: 2px 0;
}
.section-card.cv a[data-v-4c0f7740] {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}
.section-card.cv a[data-v-4c0f7740]:hover {
    background-color: #0056b3;
}

